
   <!-- tag <html> -->
   <!-- configs do documento -->
   <!-- todo conteudo visivel no body -->
   <!-- infos dentro da tag -->
   <!-- tag <h1> usada para titulos -->
   <!-- tag <p> para paragrafos -->
    


<!DOCTYPE html>
<html lang="pt_br"> <!-- lang atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>pagina de estudo NLW</title>

    <link rel="shortcut icon" href="/images/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/page-landing.css"> <!--usar isso como uma das formas de acessar o css-->  

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-landing">

      <div id="container">
           <div class="logo-container">
               <img src="/images/images/logo.svg" alt="Proffy">
               <h2>Sua plataforma de estudos online</h2>
           </div>


           <img class="hero-image" src="/images/images/landing.svg" alt="Plataforma de Estudo">


           <div class="buttons-container"> <!-- div dos botões -->

          <!-- botão de estudar -->
               <a class="study" href="/study">
               <img src="/images/images/icons/study.svg" alt="Estudar">  
               Estudar                  
               </a>
                  
               <!-- botão de dar aulas -->
               <a class="give-classes" href="/give-classes">
                <img src="/images/images/icons/give-classes.svg" alt="Dar aulas">  
               Dar aulas                
                </a>
           </div>

           <p class="total-conections">
               Total de 200 conexões já realizadas
               <img src="/images/images/icons/purple-heart.svg" alt="coração roxo">
           </p>
      </div>  
  
</body>
</html>
